@media (min-width:1200px) {
header{border-bottom: 1px solid #eee;}
footer{border-top:1px solid #666; float: left;}
/* guide_bar */
.guide_bar{width: 20%; height: calc(100vh - 50px); background:#000; color:#BD9D7C; float: left;}
.bar_logo{width: 100%; height: 20%; margin-bottom: 10%;}
.bar_logo img{width: 100%; height: 100%;}
.guide_list{width: 100%; cursor:pointer;} 
.guide_list li{width: 100%; margin: 0 auto; border-top: 1px solid #666; line-height: 40px; position: relative; }
.guide_list li:nth-of-type(6){border-bottom: 1px solid #666;}
.guide_sub{display: none;}
.guide_sub li{ padding-left: 40px;}
.guide_sub li:hover{background:#fff; color:#000;}

/* guide_content */
.guide_content{width: 80%; height: calc(100vh - 50px); float: right;}
.content{width: 80%; height: 100%; padding: 50px 0 0 50px;}

.content_title{width: 100%; height: 10%; border-bottom: 1px solid #ccc; margin-bottom: 50px;}
.content input{width: 470px; height: 50px; border:1px solid #999; float: right;}
.content input:focus{outline: 1px solid #999;}

/* content_list */
.content_list{width: 100%; height: 50%;}
.content_list h2{color:#555; margin-bottom: 30px;}

.list_place{width: 95%; height: 85%; border: 1px solid #ccc; margin: 0 auto;} 

.list_guide{width: 40%; height: 100%;float:left}
.list_guide li{width: 100%; height: 25%; border-bottom: 1px solid #999;}
.list_guide li:nth-of-type(4){border:none}
.list_img{width: 60%; height: 100%; overflow: hidden; float:right}
.list_img li{width: 100%; height: 100%;}
.list_img li:not(:first){display: none}
.list_img img{width: 100%; height: 100%;}


}